$article-padding = 24px

.archives-wrap
    margin: block-margin 0

.archives
    clearfix()

.block-title
    margin: 0 article-padding 20px article-padding
    font-size: 22px
    color: #8e90da
    font-weight: bold
    padding-left: 13px
    line-height: 32px
.archive-category-title
    background: #f2f5f6
    border-left: solid 4px
.archive-archive-title
    color: #555
    i
        margin-right: 10px
        font-size: 22px

// .archives
//     column-gap: 10px
//     @media mq-tablet
//         column-count: 2
//     @media mq-normal
//         column-count: 3

.archive-article
    avoid-column-break()

.archive-article-inner
    @extend $block
    padding: 10px
    margin-bottom: 15px

.archive-article-title
    text-decoration: none
    font-weight: bold
    color: color-default
    transition: color 0.2s
    line-height: line-height
    &:hover
        color: color-link

.archive-article-footer
    margin-top: 1em

.archive-article-date
    color: color-grey
    text-decoration: none
    font-size: 0.85em
    line-height: 1em
    margin-bottom: 0.5em
    display: block

#page-nav
    clearfix()
    margin: block-margin auto
    text-align: center
    color: color-grey
    overflow: hidden
    a, span
        padding: 10px 15px
        line-height: 1
        height: 2ex
        border-radius: 3px
        margin: 0 6px
    a
        color: color-default
        text-decoration: none
        &:hover
            background: rgba(0, 0, 0, .1)
    .page-number
        display: inline-block
        @media mq-mobile
            display: none
    .current
        color: #fff
        background: theme-color
        font-weight: bold
    .space
        color: color-border
.article-list
    margin: block-margin auto
    .article
        position: relative
        margin: 0
        &:active
            background: #efefef
        .article-meta
            position: absolute
            left: 0
            bottom: 0
        .article-inner
            box-shadow: none;
        .article-title
            padding-top: 10px
            color: color-grey-link
            font-size: 16px
            background: #fff
            transition: all ease .3s
            font-weight: normal

            h1
                ellipsis()
                padding-bottom: $article-padding
                border-bottom: solid 1px #efefef
            &:hover
                color: color-link
        .article-date
            font-weight: normal
    .archives
        .article-title
            padding-top: 0
            h1
                font-weight: normal

