@media mq-mobile
    @import "_animation"
    #mobile-nav
        position: absolute
        top: 0
        left: -100%
        width: mobile-nav-width
        height: 100%
        background: color-mobile-nav-background
        border-right: 1px solid #fff
        transition: .3s ease-out
        z-index: 10001
        display: block
        .mobile-nav-on &
            left: 0
    .mobile-nav-link
        display: block
        color: color-grey
        text-decoration: none
        padding: 15px 20px
        font-weight: bold
        &:hover
            color: #666
    #header
        height: wise-header-height
        line-height: wise-header-height
    #footer
        position: relative
        padding: 25px 0
    .transition-wrapper
        top: wise-header-height
    .content-wrapper
        padding-bottom: 0
    .skeleton
        position: absolute
        display: block
        top: 0
        left: 0
        width: 100%
        z-index: 0
    .theme-img-wrapper
        .theme-img-mobile
            display: block
            width: 100%
        .theme-img-pc
            display: none
